In [1]:
%load_ext autoreload
%autoreload 2

In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split

from datasetClass import KSLDataset
from LeNetClass import LeNet

# Загрузка данных

In [4]:
df = pd.read_csv(r"data/Train.csv")

In [14]:
df.groupby(by = "img_IDS").count().value_counts()

Label
1        6249
Name: count, dtype: int64

In [28]:
df

               img_IDS             Label
0     ImageID_33HMDMJ3            Temple
1     ImageID_V5POEX4O            Church
2     ImageID_89CCCCW6  Enough/Satisfied
3     ImageID_GNJXOWX5                Me
4     ImageID_7Q9LOP7R              Love
...                ...               ...
6244  ImageID_F2HTAA5P              Love
6245  ImageID_0D69ZQ4X            Church
6246  ImageID_E67IZXVJ              Seat
6247  ImageID_ENGL8NP3               You
6248  ImageID_TNAQU0UA                Me

[6249 rows x 2 columns]

In [16]:
df['Label'].value_counts()

Label
Enough/Satisfied    695
Seat                695
Mosque              695
Temple              694
Church              694
Love                694
Me                  694
You                 694
Friend              694
Name: count, dtype: int64

In [30]:
train_df, val_df = train_test_split(
    df,
    test_size=0.33, random_state=42, stratify=df["Label"])

In [31]:
train_df

               img_IDS             Label
3138  ImageID_OL30LJ9I               You
4956  ImageID_UQCX3D3Q              Love
3336  ImageID_U5GCXHVF            Mosque
4625  ImageID_UDN3D0DK  Enough/Satisfied
1203  ImageID_GUMIW01H            Church
...                ...               ...
5346  ImageID_2KZZ29PP  Enough/Satisfied
2762  ImageID_P09YSVY3            Friend
536   ImageID_AWV71PFT            Friend
4066  ImageID_XVQPTT6U            Temple
323   ImageID_HNBE5R7J            Temple

[4186 rows x 2 columns]